.console-password-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    min-height: 450px;
}

.console-password-modal {
    background: white;
    width: 370px;
    max-width: 90%;
    text-align: center;
    border: solid 1px #888;
    padding: 40px;

    h2 {
        margin-top: 0;
        color: #1d2327; // WP Admin dark gray
		font-family: $font-family-serif;
    }

    p {
        color: #646970; // WP Admin gray
        margin-bottom: 1.5rem;
    }

    input[type="password"] {
        width: 100%;
        padding: 8px;
        margin-bottom: 12px;
        display: block;
        border: 1px solid #8c8f94;
        border-radius: 0;
    }

	.user-avatar {
		border-radius: 50%;
		display: block;
		margin: 0 auto 20px;
		height: 96px;
	}

	.forgot-passphrase {
		&, * {
			font-size: 11px;
		}

		margin-top: 30px;
		margin-bottom: 0;
		line-height: 1.9;
	}
}

.error-message {
    color: #d63638;
    background: #fcf0f1;
    border: 1px solid #d63638;
    padding: 8px;
    margin-bottom: 1rem;
    font-size: 13px;
    border-radius: 4px;
}

@keyframes shake {
    10%, 90% { transform: translate3d(-1px, 0, 0); }
    20%, 80% { transform: translate3d(2px, 0, 0); }
    30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
    40%, 60% { transform: translate3d(4px, 0, 0); }
}

.shake {
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
